@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.row div {
    margin-bottom: 10px;
   }

.gren {
	background-color: #2ecc71;
  }
 ul.breadcrumb {
    margin: 20px 0 0;
    background: transparent;
}
ul.breadcrumb > li > a, ul.breadcrumb > li .divider {
    color: #fff;
    }
a {
  color: #34495e;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
 }
 .gren h1{
 	color: #fff;
 }
 .gren p{
 	color: #fff;
 }
 body {
  color: #34495e;
  background: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
 h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
<<<<<<< HEAD
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.navbar .navbar-brand {
  font-size: 35px;
  color: #fff;
}
.navbar .navbar-toggle .icon-bar {
  background: #fff;
}
.navbar .navbar-right{
  margin-top: 12px;
  margin-left: 5px;
}
.header{
  background-color:#34495e; 
}
.text-white{
  color: #fff;
}
.mt{
  margin-top: 3%;
}
.mb{
  margin-bottom: 3%;
}
a{
  color: #fff;
}
a:hover{
  color: #18bc9c;
}
.nav>li>a:hover{
  background-color: rgba(0,0,0,0.9);
}
.pd{
  padding: 1%;
}
.navbar{
  margin-bottom: 0%;
}
{
  margin-left: 0%;
}
.banner{
  background-image: url(../images/slider/bg1.jpg);
  background-size:100% 100%;
}
.banner p{
  font-size: 45%;
}
.pt{
  padding-top: 15%;
}
.pb{
  padding-bottom: 28%;
}
.services{
  background-color: #2ecc71;
}
.pull-left{
  float: left;
}
.icon-md {
  font-size: 36px;
  height: 68px;
  width: 68px;
  line-height: 68px;
  margin-right: 10px;
  color: #fff;
  padding-top: 12%;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  display: block;
  border-radius: 100%;
  position: relative;
}
.media-heading {
  margin: 0 0 2%;
}
.mg{
  margin: 5%;
}
.btn-group{
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.bg-white{
  background-color: #fff;
  padding: 5% 5% 5% 5%;
}
.testimonial{
  background-color: #e74c3c;
}
blockquote {
  color: #fff;
}
blockquote small {
  color: rgba(255, 255, 255, 0.8);
}
blockquote small {
  display: block;
}
.wet-asphalt {
  background-color: #34495e;
}
ul#menu-company-menu {
  padding-left: 0;
}
(index)media="all"
ul, {
  margin-top: 0;
  margin-bottom: 10px;
}
ul, {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}
ul#menu-company-menu li {
  list-style: none;
  position: relative;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
#bottom {
  color: #bdc3c7;
}
#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #bdc3c7;
}
.midnight-blue{
  background-color: #2c3e50;
}
#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
#footer ul > li {
  display: inline-block;
  margin-left: 15px;
}
.about-us{
  background-color: #2ecc71;
}
ol.breadcrumb {
  width: 100%;
  text-align: right;
}
ol.breadcrumb {
  margin: 20px 0 0;
  background: transparent;
}
ol.breadcrumb > li{
  white-space: nowrap;
}
ol.breadcrumb > li{
  text-shadow:none;
}
.page{
  padding: 5% 0%;
}
.center{
  text-align: center;
}
.img-circle{
  border-radius: 50%;
}
.btn-social{
  border-radius: 360%;
}
.sec-service{
  background-color: #2ecc71;
}
.media-services {
  margin-bottom: 30px;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eee;
}
blockquote small {
  color: rgba(255, 255, 255, 0.8);
}
.row-team{
    margin-right: 5%;
    margin-left: 5%;
}
p{
 font-size: 100%;
}
.portfolio-item h5 {
    background: #fff;
    margin: 0;
    padding: 10px 0;
    font-weight: 700;
    font-size: 14px;
    color: #2c3e50;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.portfolio-item .item-inner {
    background: #fff;
    border: 1px solid #eee;
    padding: 5%;
}
footer a:hover{
  text-decoration: none;
}
.btn-social.btn-facebook {
    background: #4f7dd4;
}
.btn-social.btn-twitter {
    background: #5bceff;
}
.btn-social.btn-google-plus {
    background: #dc422b;
}
.btn-social.btn-linkedin {
    background: #21a6d8;
=======




.portfolio-items,
.portfolio-filter {
  list-style: none;
  padding: 0;
  margin: 0 -20px 20px 0;
}
.portfolio-filter > li {
  display: inline-block;
}
.portfolio-items > li {
  float: left;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.portfolio-items.col-2 > li {
  width: 50%;
}
.portfolio-items.col-3 > li {
  width: 33%;
}
.portfolio-items.col-4 > li {
  width: 25%;
}
.portfolio-items.col-5 > li {
  width: 20%;
}
.portfolio-items.col-6 > li {
  width: 16%;
}
.portfolio-item {
  padding: 0;
  margin: 0;
}
.portfolio-item .item-inner {
  background: #fff;
  border: 1px solid #eee;
  padding: 10px 10px 0;
  margin: 0 20px 20px 0;
  position: relative;
}
.portfolio-item img {
  width: 100%;
}
.portfolio-item h5 {
  background: #fff;
  margin: 0;
  padding: 10px 0;
  font-weight: 700;
  font-size: 14px;
  color: #2c3e50;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.portfolio-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  vertical-align: middle;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}
.portfolio-item .overlay .preview {
  position: relative;
  top: 50%;
  display: inline-block;
  margin-top: -20px;
}
.portfolio-item:hover .overlay {
  opacity: 1;
>>>>>>> 92f3044b5279f7ed9a33a0aa797ac8b253f2cd67
}